.slider {
  $self: &;
  position: relative;
  width: 620px;
  height: 430px;
  padding-bottom: 50px;
  overflow: hidden;

  &__container {
    position: relative;
    display: flex;
    width: auto;
    height: 100%;
    transform-origin: 50% 50%;
    left: 0;
    transition: transform 0.5s ease-in-out;
  }

  &__item {
    width: 100%;
    height: 100%;
    flex: 0 0 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__arrow {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    fill: aliceblue;
    cursor: pointer;

    &--next {
      display: flex;
      justify-content: center;
      left: unset;
      right: 0;
    }

    &--passive {
      opacity: 0.5;
    }
  }

  &__bullets {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    box-sizing: border-box;
  }

  &__bullet {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid red;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;

    &--active {
      transition: all 0.5s ease;
      background: red;
    }
  }

  &--vertical {
    padding: 0;

    #{$self}__container {
      flex-direction: column;
    }

    #{$self}__arrow {
      left: 50%;
      top: 0px;
      transform: translateX(-50%);

      &--next {
        top: unset;
        bottom: 0;
      }
    }

    #{$self}__bullets {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 0;
      gap: 15px;
      width: 50px;
      height: 100%;
      border: 1px solid gray;
      box-sizing: border-box;
    }
  }
}
